<div class="container-fluid dashboard-content" #datatable  id="content">
    <div class="page-header">
        <h2>How to use our Dashboard</h2>
    </div>

    <!-- <p> first you have login the page using the correct username and password</p>

    <h6>Now we will see step by step </h6><br>

    <div class="row mx-auto mt-3 mb-3" id="content"> -->
        <!-- <div class="row">
            <div class="col-12"> -->
        <!-- <div class="row-xl-2 row-sm-12 col-lg-6 col-xs-12 col-md-6 mb-3">
            <div class="card" id="data-card">

    <h5> Step 1 : how to use the page</h5>
    <p> at the left corner of the there is the one symbol called    if you want the navigation bar to be very small means you have to press that symbol
     and coming to the right corner there one symbol if you want to logout from the dashboard you can use that   
    </p>
    
        <div class="card" id="data-card"> -->
         <!-- <h5> Step 2: how to use the Navigation bar </h5>
             <h6> first we will see the how to use the dashboard</h6></div></div></div></div> --> 
            <!-- </div> -->


            \\<div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card card-body ">
                    <div class="statusGrid">
                        <div>
                            <div class="">
                                
    <h5> Step 1 : how to use the page</h5>
    <p> at the left corner of the there is the one symbol called    if you want the navigation bar to be very small means you have to press that symbol
     and coming to the right corner there one symbol if you want to logout from the dashboard you can use that   
    </p>
                            </div>
                            <!-- <div class="font-primary"><small> Total Cameras</small></div> -->
    
                        </div>
                        <!-- <div class="">
                            <img class="iconImage" src="assets/images/icons/Camera.svg" alt="">
                        </div> -->
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card card-body ">
                    <div class="statusGrid">
                        <div>
                            <div class="">
                                
                                <h5> Step 2: how to use the Navigation bar </h5>
                                <h6> first we will see the how to use the dashboard</h6>                   </div>
                            <!-- <div class="font-primary"><small> Total Cameras</small></div> -->
    
                        </div>
                        <!-- <div class="">
                            <img class="iconImage" src="assets/images/icons/Camera.svg" alt="">
                        </div> -->
                    </div>
                </div>
            </div>



            <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card card-body">
                    <div class="statusGrid">
                        
                            <div class="">
                                <h5> Step 2: how to use the Navigation bar </h5>
                                <h6> first we will see the how to use the dashboard</h6>   
                            </div>
                            
    
                        
                        
                    </div>
                </div>
            </div>
         </div>    

